body {
    background-image: url("https://i.ytimg.com/vi/B2yIqdn3M8Q/maxresdefault.jpg");
}
P {
  font-size: 20px;
    color: white;
}
h1 {
  color: black;
  font-family: "arial", Times, serif;
  border-style: dotted solid;
  border-color: pink;
}
